<div class="carousel" style="display: flex; align-items: center;">
  <div #pptContent style="display: flex; align-items: center;" class="ppt-content" (scroll)="checkEnd($event)">
      <span style="position: absolute;left: 0px;z-index: 1;"><button class="btn-arrow" (click)="scrollLeft()" *ngIf="data.length > 1"
              [disabled]="scrollLeftcount <= 0">
              <!-- <i class="fs-chevron-left"></i> -->
              <i class="fa fa-angle-left" aria-hidden="true"></i>
          </button></span>
      <ng-container *ngFor="let ppt of data; let i = index;">
          <div style="display: flex; justify-content: center;flex-direction: column; row-gap: 8px;cursor: pointer;">
              <div style="display: flex; justify-content: space-between; align-items: center;">
                  <img [src]="ppt.thumbnail_path | safe: 'url'" />
              </div>
              <!-- <div class="box-title">{{ppt.display_name}}</div> -->
              <div style="font-size: 16px;font-weight: 600;">{{ppt.display_name | slice:0:20 }}...</div>
          </div>
      </ng-container>
      <span style="position: absolute;right: 0px;z-index: 1;"><button class="btn-arrow" (click)="scrollRight()" *ngIf="data.length > 1"
              [disabled]="scrollRightcount <= 0">
              <!-- <i class="pi pi-chevron-right"></i> -->
              <i class="fa fa-angle-right" aria-hidden="true"></i>
          </button></span>
  </div>
</div>
<app-resize></app-resize>
